# Datasets
Data/MOT16/*
Data/UA-DETRAC/DETRAC-Train-Annotations-XML/*
Data/UA-DETRAC/Insight-MVT_Annotation_Train/*


# Saved Mobilenetv2-SSD models
object_detection/models/*


# Generated detections (.npy files)
*.npy


# Large media files
vdo.avi


# Py-caches
__pycache__
object_detection/core/__pycache__
object_detection/data/__pycache__
object_detection/protos/__pycache__
object_detection/utils/__pycache__
application_utils/__pycache__
deep_sort/__pycache__
tools/__pycache__