# The MOT16 dataset
MOT16/*

# Saved Mobilenetv2-SSD models
object_detection/models/*

# Generated detections (.npy files) for both Default and SSD pre-computed detections
resources/detections/Default/MOT16_POI_test/*
resources/detections/Default/MOT16_POI_train/*
resources/detections/SSD/MOT16_POI_test/*
resources/detections/SSD/MOT16_POI_train/*

# Large media files
vdo.avi

# Py-caches
__pycache__
object_detection/core/__pycache__
object_detection/data/__pycache__
object_detection/protos/__pycache__
object_detection/utils/__pycache__
application_utils/__pycache__
deep_sort/__pycache__
tools/__pycache__